$transitionTime : .57s;
$color : rgb(230,233,240);

body {
    font-family: 'Helvetica Neue';
    font-weight: 500;
}

body::-webkit-scrollbar{
    display:none;
}

/* gradient layers for animation */
.layer{
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100vw;
    transition: opacity $transitionTime ease-in-out;
}
.layer1 {
    z-index: -100;
    background-image: linear-gradient(to top, #e7f0fd 0%, #accbee 100%);
    opacity: 1;
}
.layer2 {
    z-index: -90;
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    opacity: 0;
}
.layer3 {
    z-index: -80;
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    opacity: 0;
    position:fixed;
    top:0;
    left:0;
}



//--------------
//input styles
//--------------
input {
    font-size: 30px;
    border: 1px solid #4C5454;
    padding: 15px;
    color: #4C5454;
    background-color: transparent;
    transition: all ease-in-out $transitionTime;
    -webkit-backface-visibility: hidden;
}


/* placeholder styling */
input::-webkit-input-placeholder {
    color: rgba(76, 84, 84, 0.44);
    font-weight: 400;
}

input:-moz-placeholder {
    color: rgba(76, 84, 84, 0.44);
    font-weight: 400;
}

input::-moz-placeholder {
    color: rgba(76, 84, 84, 0.44);
    font-weight: 400;
}

input:-ms-input-placeholder {
    color: rgba(76, 84, 84, 0.44);
    font-weight: 400;
}

input:focus {
    outline: none;
}

//------------------
//containers for the setup inputs
//------------------
.roomNameContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.usernameContainer {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

//------------------
//message view styles
//------------------
.messageView{
    opacity:0;
    transition: all $transitionTime ease-in-out;

    //styles for header
    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 70px;
        background-color: rgb(108, 115,123);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom:5px;
        z-index:999;
        color:$color;

        .peopleCount {
            font-size: 12px;
            margin-top: 5px;
            opacity:.6;
            border-bottom:.5px solid;
            padding-bottom:1px;
            cursor:pointer;
            transition:opacity .5s ease-in-out;
        }

        .peopleCount:hover{
            opacity:1;
        }

        .roomName {
            text-align: center;
            font-size: 22px;
            display: block;
        }

        .leave{
            font-size:20px;
            font-weight:400;
            position:absolute;
            right:20px;
            top:50%;
            text-align: center;
            transform:translate(0, -50%);
            cursor:pointer;
            border:1px solid $color;
            border-radius:20px;
            padding:3px;
            height:24px;
            width:24px;
            line-height:12px;
            opacity:.6;
            transition: opacity .5s ease-in-out;
        }
        .leave:hover{
            opacity: 1;
        }

        .userTyping{
            font-size:10px;
            margin-top:3px;
        }
    }

    //styles for messages display window
    .messagesDisplay {
        margin-top:70px;
        padding-top:5px;
        padding-bottom:71px;
        overflow:scroll;

        // styles for two different type of messages
        .message {
           border-radius: 1px;
           font-size: 14px;
           padding: 10px;
           min-width: 150px;
           margin-top: 5px;
           margin-bottom: 5px;
           cursor: default;
           clear: both;
           transition: all .25s ease-in-out;
        }

        .other {
            float: left;
            background-color: rgba(66, 122, 161, .66);
            color: $color;
            margin-left: 10px;
        }

        .other:hover {
            background-color: rgba(66, 122, 161, .9);
        }

        .user {
            background-color: rgb(108, 115,123);
            color: $color;
            float: right;
            margin-right: 10px;
        }

        .user:hover {
            background-color: rgba(41, 50, 60, .9);
        }

    }

    //style for message input form
    .messageSendContainer {
        position: fixed;
        bottom: 0;
        left: 0;

        #messageBox {
            background-color:rgb(230,233,240);
            width: 100vw;
            border: transparent;
            border-top:1px solid rgb(108, 115,123);
        }
    }
}
.progressBar{
    display:none;
}
@media(min-width:500px){
    //ProgressBar
    .progressBar{
        display:inline;
        position:relative;
        top:450px;
        display:flex;
        flex-direction: column;
        width:350px;
        margin:auto;

        .line{
            height:1px;
            background-color:#4C5454;
            width:300px;
            display: flex;
            flex-direction: row;
            align-items: center;
            margin:auto;

            .indicator{
                height:20px;
                width:20px;
                background-color:#4C5454;
                border-radius: 20px;
            }
        }

        .textContainer{
            cursor:default;
            font-size:13px;
            padding-top:18px;
            display:flex;
            flex-direction: row;
            justify-content: space-between;

            .progressLabel{
                opacity:.33;
                transition:all .5s ease-in-out;
            }
            .active{
                opacity:1;
            }
        }
    }
}
